/* 先初始化所有样式 */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    /* 合适的过渡效果让动画更好看 */
    transition: cubic-bezier(.03, .98, .52, .99) all .5s;
    overflow: scroll;
}

/* 来点炫酷的样式 */

.code {
    /* 先加个 border */
    border: 1px dashed;
    /* 设置一个合适的宽度 */
    width: 50vw;
    /* 再来一个合适的 padding */
    padding: 10px 20px;
    /* 居中吧 */
    margin: auto;
    /* 添加一个炫酷的背景 */
    background: linear-gradient(135deg, #0099F7, #F11712);
    /* 设置字体样式 */
    color: #fdfdfd;
    line-height: 1.6;
    /* 最后把丑陋的 border 干掉 */
    border: none;
}
